* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sharp-Sans-No1-Medium";
}
@font-face { 
    font-family: "Sharp-Sans-No1-Medium"; 
    src: url('./assets/SharpSans/Sharp-Sans-No1-Medium.woff'); 
}
@font-face { 
    font-family: "Sharp-Sans-No1-Extrabold"; 
    src: url('./assets/SharpSans/Sharp-Sans-No1-Extrabold.woff'); 
}