@import 'variables';
@font-face { 
    font-family: "Sharp-Sans-No1-Medium"; 
    src: url('./assets/SharpSans/Sharp-Sans-No1-Medium.woff'); 
}
@font-face { 
    font-family: "Sharp-Sans-No1-Extrabold"; 
    src: url('./assets/SharpSans/Sharp-Sans-No1-Extrabold.woff'); 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sharp-Sans-No1-Medium";
}
#wrap .display-none {
    display: none;
}
.display-flex {
    display: flex !important; //jquery fadein
}
#wrap {
    padding: 1vw 5vw 0;
}
// Header
.header {
    display: flex;
    align-items: center;
    height: 4vw;
}
.logo {
    max-height: 70%;
}
// Typing Section
.section-typing {
    height: calc(100vh - 5vw - 30vh);
}
.typing-area {
   margin-top: 30vh;
}
.typing-input {
    width: 70%;
    border: 0;
    border-left: solid 1px #000;
    font: 6vw "Sharp-Sans-No1-Extrabold";
    outline: none;
    &:focus {
        border-bottom: solid 1px $color1;
        border-left: 0;
    }
    &::placeholder {
        color: $color4;
    }
}
.section-typing-button-container {
    display: inline-block;
    position: relative;
    width: 29%;
}
.button {
    width: 50%;
    height: 4vw;
    margin-left: 25%;
    border: 2px solid $color1;
    border-radius: 8px;
    transform: translateY(0);
    font-size: $font-size;
    background-color: #fff;
}
.phrases-area {
    position: relative;
    margin-top: 10vh;
}
.phrases-container {
    display: inline-block;
    width: 70%;
    height: 100%;
}
.press-effect-container {
    position: relative;
    width: 50%;
    margin-left: 25%;
    &::before, &::after {
        content: '';
        position: absolute;
        height: 4vw;
        border-radius: 8px;
    }
    &::before {
        left: 0;
        top: 10%;
        width: calc(100% - 4px);
        border: solid 2px $color1;
        background-color: $color2;
    }
    &::after {
        left: 2px;
        top: 30%;
        width: calc(100% - 4px);
        background-color: $color3;
        transition: top .3s ease;
        z-index: -1;
    }
}
.press-effect-container:hover::after {
    top: 25%;
    cursor: pointer;
}
.press-effect, .press-effect-container:hover > .press-effect {
    width: 100%;
    margin: 0;
    transition: transform .3s ease;
}
.press-effect:hover {
    transform: translateY(5%);
    cursor: pointer;
}
//T-shirt Section
.section-tshirt {
    display: flex;
    height: 100vh;
}
.tshirt-area {
    width: 60vw;
    height: 40vw;
    margin-top: 10%;
    border-bottom: solid 5vw #fff;
    background-color: $color5;
}
.image-tshirt {
    display: block;
    max-height: 80%;
    margin: 2vw auto 0;
}
.accordion-area {
    position: relative;
    width: 39%;
    height: 30vw;
    margin-top: 10%;
    padding-left: 1vw;
}
.accordion-part {
    display: flex;
    justify-content: space-between;
    height: 4vw;
    padding: 0 5% 0 15%;
    border-bottom: 1px solid $color4;
}
.accordion-part.active {
    height: 16vw;
    align-items: flex-start;
    padding-top: 2vw;
    & .image-arrow {
        transform: rotate(180deg);
    }
}
.accordion-phrase {
    display: flex;
    align-items: center;
    font-size: $font-size;
    &:before {
        content: "";
        width: $before-image-size;
        height: $before-image-size;
        margin-right: $before-image-size;
        margin-left: -3vw;
        background-image: url("assets/icon-text.png");
        background-size: $before-image-size;
    }
}
.accordion-images-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 3vw;
    & > img:hover {
        cursor: pointer;
    }
}
.image-bin {
    width: 1.3vw;
}
.image-arrow {
    width: 1vw;
    transform: rotate(0);
}
.accordion-area > .press-effect-container {
    position: absolute;
    bottom: -3.8vw;
    width: 100%;
    margin: 0;
}