@font-face {
  font-family: "Sharp-Sans-No1-Medium";
  src: url("./assets/SharpSans/Sharp-Sans-No1-Medium.woff");
}

@font-face {
  font-family: "Sharp-Sans-No1-Extrabold";
  src: url("./assets/SharpSans/Sharp-Sans-No1-Extrabold.woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Sharp-Sans-No1-Medium";
}

#wrap .display-none {
  display: none;
}

.display-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

#wrap {
  padding: 1vw 5vw 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4vw;
}

.logo {
  max-height: 70%;
}

.section-typing {
  height: calc(100vh - 5vw - 30vh);
}

.typing-area {
  margin-top: 30vh;
}

.typing-input {
  width: 70%;
  border: 0;
  border-left: solid 1px #000;
  font: 6vw "Sharp-Sans-No1-Extrabold";
  outline: none;
}

.typing-input:focus {
  border-bottom: solid 1px #0005ee;
  border-left: 0;
}

.typing-input::-webkit-input-placeholder {
  color: #f1f1f1;
}

.typing-input:-ms-input-placeholder {
  color: #f1f1f1;
}

.typing-input::-ms-input-placeholder {
  color: #f1f1f1;
}

.typing-input::placeholder {
  color: #f1f1f1;
}

.section-typing-button-container {
  display: inline-block;
  position: relative;
  width: 29%;
}

.button {
  width: 50%;
  height: 4vw;
  margin-left: 25%;
  border: 2px solid #0005ee;
  border-radius: 8px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  font-size: 1.2vw;
  background-color: #fff;
  cursor: pointer;
}

.phrases-area {
  position: relative;
  height: 7vw;
  margin-top: 10vh;
}

.phrases-container {
  display: inline-block;
  width: 70%;
  height: 100%;
}

.phrase {
  position: relative;
  margin-right: 1vw;
  padding: .5vw 5vw .8vw 1vw;
  border-radius: 8px;
  font-size: 1.2vw;
  background-color: #f7f7f7;
}

.close-phrase {
  position: absolute;
  right: .5vw;
  top: 50%;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  padding: .5vw;
  font-size: 1.5vw;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.close-phrase:hover {
  cursor: pointer;
  color: #0005ee;
}

.press-effect-container {
  position: relative;
  width: 50%;
  margin-left: 25%;
}

.press-effect-container::before, .press-effect-container::after {
  content: '';
  position: absolute;
  height: 4vw;
  border-radius: 8px;
}

.press-effect-container::before {
  left: 0;
  top: 10%;
  width: calc(100% - 4px);
  border: solid 2px #0005ee;
  background-color: #6374f9;
}

.press-effect-container::after {
  left: 2px;
  top: 30%;
  width: calc(100% - 4px);
  background-color: #d3d7fc;
  -webkit-transition: top .3s ease;
  transition: top .3s ease;
  z-index: -1;
}

.press-effect-container:hover::after {
  top: 25%;
  cursor: pointer;
}

.press-effect, .press-effect-container:hover > .press-effect {
  width: 100%;
  margin: 0;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.press-effect:hover {
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}

.section-tshirt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.tshirt-area {
  width: 60vw;
  height: 40vw;
  margin-top: 10%;
  border-bottom: solid 5vw #fff;
  background-color: #f7f7f7;
}

.tshirt-area:before {
  content: "";
  display: block;
  width: 319px;
  height: 89px;
  max-width: 10.68vw;
  max-height: 4vw;
  margin-left: 5vw;
  background: url("assets/logo.png") no-repeat;
  background-size: 10.68vw 3vw;
  background-repeat: no-repeat;
  -webkit-transform: translateY(1.5vw);
          transform: translateY(1.5vw);
}

.image-tshirt {
  display: block;
  max-height: 80%;
  margin: 2vw auto 0;
}

.tshirt-phrases-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 20%;
  height: 45%;
  margin: -37% 0 0 40%;
  border: 2px dashed;
}

.tshirt-phrase {
  margin-bottom: 1vw;
  font-size: 1.2vw;
}

.tshirt-phrase.active-switch {
  border: 1px dashed;
}

.accordion-area {
  position: relative;
  width: 39%;
  height: 30vw;
  margin-top: 10%;
  padding-left: 1vw;
}

.accordion-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4vw;
  padding: 0 5% 0 15%;
  border-bottom: 1px solid #f1f1f1;
}

.accordion-part.active-switch {
  height: 16vw;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 2vw;
}

.accordion-part.active-switch .image-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion-phrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2vw;
}

.accordion-phrase:before {
  content: "";
  width: 2vw;
  height: 2vw;
  margin-right: 2vw;
  margin-left: -3vw;
  background-image: url("assets/icon-text.png");
  background-size: 2vw;
}

.accordion-images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3vw;
}

.accordion-images-container > img:hover {
  cursor: pointer;
}

.image-bin {
  width: 1.3vw;
}

.image-arrow {
  width: 1vw;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.color-switcher {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  height: .5vw;
  width: 20vw;
  -webkit-transform: translateY(1300%);
          transform: translateY(1300%);
  border-radius: 0.5em;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(red), color-stop(yellow), color-stop(lime), color-stop(cyan), color-stop(blue), color-stop(magenta), to(red));
  background: linear-gradient(to right, red, yellow, lime, cyan, blue, magenta, red);
}

.color-switcher:focus {
  outline: none;
}

.color-switcher:active, .color-switcher:hover:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.color-switcher::-webkit-slider-thumb {
  border: solid 1px #000;
  border-radius: .4em;
  background-color: #fff;
}

.color-switcher::-moz-range-thumb {
  border: solid 1px #000;
  border-radius: .4em;
  background-color: #fff;
}

.color-switcher::-ms-thumb {
  border: solid 1px #000;
  border-radius: .4em;
  background-color: #fff;
}

.accordion-area > .press-effect-container {
  position: absolute;
  bottom: -3.8vw;
  width: 100%;
  margin: 0;
}

[data-disable="disable"] {
  position: absolute;
  bottom: -5vw;
  border-color: #d3d7fc;
  color: #d3d7fc;
}
/*# sourceMappingURL=style.css.map */